#search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
}

.result {
  width: 30%;
  margin: 0 10px 20px;
  padding: 20px;
  background-color: lightgray;
  text-align: center;
}
