body {
    width: 100px;
    height: 100px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

/* Music Player */
/* I want to set up music player first then it will be top and bottom designing later since we will work on the project 02/02/2023*/

#player {
  width: 400px;
  height: 200px;
  background-color: #ddd;
  padding: 10px;
}

#controls {
  display: flex;
  justify-content: center;
}

#play, #pause {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #333;
  color: #fff;
}

#progress {
  height: 10px;
  background-color: #ccc;
  margin: 10px 0;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #333;
}

#volume {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#volume-control {
  width: 200px;
}
